<div class="row g-3">
    {{#each data}}
    <div class="col-sm-6 col-md-4">
        <div class="card ">
            <p class="header-text">{{this.Restaurant_Name}}</p>
            <img src="{{this.Img_Link}}" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                     <span class="font-weight-bold">{{this.Dish_Name}}</span>
                     <span class="font-weight-bold">${{this.Price}}</span> </div>
                 <hr>
                <p class="card-text mb-1 mt-1">{{this.Dish_Description}}</p>
                <div class="d-flex align-items-center flex-row">
                    <span class="guarantee"><i class="fas fa-money-bill-wave"></i> {{this.Price_Profile}}</span>
                    <span class="guarantee"><i class="fas fa-map-marked-alt fa-lg"></i> {{this.Neighbourhood}}</span>
                </div>

            </div>
            <hr>
            <div class="card-body">
                <div class="text-right buttons">
                    <button class="btn btn-outline-dark" onclick="location.href = '{{this.Menu_Link}}';" >Full menu</button>
                     <button class="btn btn-dark" >button</a></button>
                 </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>