<div class="row container-fluid">
    <h2 style="text-align: center;">Find your perfect meal</h2>
    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="searchValue">
        <button class="btn btn-outline-success" type="submit" onclick="searchPrepare(event)">Search</button>
    </form>
    <div class="col" style="margin: 2%;">
        <div class="form-check" style="float: center;">
            <input class="form-check-input" type="checkbox" value="" id="restaurantCheck">
            <label class="form-check-label" for="flexCheckDefault" >
                Limit by Restaurant
            </label>
            <select class="form-select" aria-label="Default select example" style="max-width: 500px; float:initial;" id="restaurantChoice">
                <option selected>Set your resturant name</option>
                {{#each Name}}
                <option value="{{this.Restaurant_Name}}">{{this.Restaurant_Name}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <div class="col" style="margin: 2%;">

        <div class="form-check" style="float: center;">
            <input class="form-check-input" type="checkbox" value="" id="dishCheck">
            <label class="form-check-label" for="flexCheckDefault" >
                Limit by Cuisine
            </label>
            <select class="form-select" aria-label="Default select example" style="max-width: 500px; float:initial;" id="dishChoice">
                <option selected>Choose a Cuisine</option>
                {{#each type}}
                <option value="{{this.Menu_Type}}">{{this.Menu_Type}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    </div>
<div class="row g-3">
    {{#each data}}
    <div class="col-sm-6 col-md-4">
        <div class="card ">
            <p class="header-text">{{this.Restaurant_Name}}</p>
            <img src="{{this.Img_Link}}" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                     <span
                    class="font-weight-bold">{{this.Dish_Name}}</span> <span
                    class="font-weight-bold">${{this.Price}}</span> </div>
                 <hr>
                <p class="card-text mb-1 mt-1">{{this.Dish_Description}}</p>
                <div class="d-flex align-items-center flex-row">
                    <span class="guarantee"><i class="fas fa-money-bill-wave"></i> {{this.Price_Profile}}</span>
                    <span class="guarantee"><i class="fas fa-map-marked-alt fa-lg"></i> {{this.Neighbourhood}}</span>
                </div>

            </div>
            <hr>
            <div class="card-body">
                <div class="text-right buttons">
                    <button class="btn btn-outline-dark" onclick="location.href = '{{this.Menu_Link}}';" >Full menu</button>
                     <button class="btn btn-dark" >button</a></button>
                 </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>
